<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-2022-jp">
<link rel="stylesheet" type="text/css" href="README.css">
<link rel="prev" href="CONTENTS-ja.html">
<link rel="next" href="CUSTOMIZE-ja.html">
<title>$B!V$N$I$+!W(B - KEYBOARD</title>
</head>

<body class="manual">

<dl>
	<div style="text-align: left">
		<dt class="h1"><font face="$B#M#S(B $B#P%4%7%C%/(B"><a name="$B%-!<%\!<%IG[NsDj5A(B">Appendix VI$B!!(B
		$B%-!<%\!<%IG[NsDj5A(B</a></font></div>
</dl>
<blockquote>
	<ul>
		<li>
		<h3 style="text-align: left"><b><font face="$B#M#S(B $B#P%4%7%C%/(B">
		<a name="$BF|K\8lG[Ns(B_109$B%-!<%\!<%I(B"><span style="text-decoration: none">$BF|K\8lG[Ns(B_109$B%-!<%\!<%I(B 
	$B!J%7%s%\%k(B USE109 $B$rMQ$$$F!"(B109.nodoka $B$rMQ$$$?>l9g$N%-!<Dj5A!K(B</span></a></font></b></h3>
		</li>
	</ul>
</blockquote>
<div align="center">
	<blockquote>
		<table border="1" width="1046" align="left" id="table1" height="235">
			<tr>
				<td class="d2" align="left">
				<img border="0" src="109.gif" width="1000" height="217"></td>
			</tr>
		</table>
	</blockquote>
	<p>$B!!(B</p>
	<p>$B!!(B</p>
	<p>$B!!(B</p>
	<p>$B!!(B</p>
	<p>$B!!(B</p>
	<p>$B!!(B</p>
	<blockquote>
		<div align="left">
$B!!(B<div align="left">
	$B!!(B<table border="1" id="table3" width="1112" height="192">
		<tr>
			<td><font size="2">Esc</font></td>
			<td><font size="2">F1</font></td>
			<td><font size="2">F2</font></td>
			<td><font size="2">F3</font></td>
			<td><font size="2">F4</font></td>
			<td>$B!!(B</td>
			<td><font size="2">F5</font></td>
			<td><font size="2">F6</font></td>
			<td><font size="2">F7</font></td>
			<td><font size="2">F8</font></td>
			<td>$B!!(B</td>
			<td><font size="2">F9</font></td>
			<td><font size="2">F10</font></td>
			<td><font size="2">F11</font></td>
			<td><font size="2">F12</font></td>
			<td>$B!!(B</td>
			<td><font size="2">PrintScreen</font></td>
			<td><font size="2">Scroll</font></td>
			<td><font size="2">Pause</font></td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td height="23">$B!!(B</td>
		</tr>
		<tr>
			<td><font size="2">$BH>3Q(B/$BA43Q(B</font></td>
			<td><font size="2">_1</font></td>
			<td><font size="2">_2</font></td>
			<td><font size="2">_3</font></td>
			<td><font size="2">_4</font></td>
			<td><font size="2">_5</font></td>
			<td><font size="2">_6</font></td>
			<td><font size="2">_7</font></td>
			<td><font size="2">_8</font></td>
			<td><font size="2">_9</font></td>
			<td><font size="2">_0</font></td>
			<td><font size="2">Minus</font></td>
			<td><font size="2">Caret</font></td>
			<td><font size="2">Yen</font></td>
			<td><font size="2">BS</font></td>
			<td>$B!!(B</td>
			<td><font size="2">Insert</font></td>
			<td><font size="2">Home</font></td>
			<td><font size="2">PageUp</font></td>
			<td>$B!!(B</td>
			<td><font size="2">NumLock</font></td>
			<td><font size="2">NumSlash</font></td>
			<td><font size="2">NumAsterisk</font></td>
			<td height="42"><font size="2">NumMinus</font></td>
		</tr>
		<tr>
			<td><font size="2">Tab</font></td>
			<td><font size="2">Q</font></td>
			<td><font size="2">W</font></td>
			<td><font size="2">E</font></td>
			<td><font size="2">R</font></td>
			<td><font size="2">T</font></td>
			<td><font size="2">Y</font></td>
			<td><font size="2">U</font></td>
			<td><font size="2">I</font></td>
			<td><font size="2">O</font></td>
			<td><font size="2">P</font></td>
			<td><font size="2">Atmark</font></td>
			<td><font size="2">OpenBracket</font></td>
			<td rowspan="2" colspan="2"><font size="2">Enter</font></td>
			<td>$B!!(B</td>
			<td><font size="2">Del</font></td>
			<td><font size="2">End</font></td>
			<td><font size="2">PageDown</font></td>
			<td>$B!!(B</td>
			<td><font size="2">Num7</font></td>
			<td><font size="2">Num8</font></td>
			<td height="23"><font size="2">Num9</font></td>
			<td rowspan="2"><font size="2">NumPlus</font></td>
		</tr>
		<tr>
			<td><font size="2">$B1Q?t(B</font></td>
			<td><font size="2">A</font></td>
			<td><font size="2">S</font></td>
			<td><font size="2">D</font></td>
			<td><font size="2">F</font></td>
			<td><font size="2">G</font></td>
			<td><font size="2">H</font></td>
			<td><font size="2">J</font></td>
			<td><font size="2">K</font></td>
			<td><font size="2">L</font></td>
			<td><font size="2">Semicolon</font></td>
			<td><font size="2">Colon</font></td>
			<td><font size="2">CloseBracket</font></td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td><font size="2">Num4</font></td>
			<td><font size="2">Num5</font></td>
			<td height="23"><font size="2">Num6</font></td>
		</tr>
		<tr>
			<td><font size="2">LShift</font></td>
			<td><font size="2">Z</font></td>
			<td><font size="2">X</font></td>
			<td><font size="2">C</font></td>
			<td><font size="2">V</font></td>
			<td width="14"><font size="2">B</font></td>
			<td width="15"><font size="2">N</font></td>
			<td width="15"><font size="2">M</font></td>
			<td width="45"><font size="2">Comma</font></td>
			<td><font size="2">Period</font></td>
			<td><font size="2">Slash</font></td>
			<td><font size="2">BackSlash</font></td>
			<td>$B!!(B</td>
			<td colspan="2"><font size="2">RShift</font></td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td><font size="2">Up</font></td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td><font size="2">Num1</font></td>
			<td width="60"><font size="2">Num2</font></td>
			<td height="23" width="75"><font size="2">Num3</font></td>
			<td rowspan="2" width="62"><font size="2">NumEnter</font></td>
		</tr>
		<tr>
			<td><font size="2">LCtrl</font></td>
			<td><font size="2">LWin</font></td>
			<td><font size="2">LAlt</font></td>
			<td colspan="2"><font size="2">$BL5JQ49(B</font></td>
			<td colspan="4">
			<p align="center" style="text-align: center">
			<span style="vertical-align: middle"><font size="2">Space</font></span></td>
			<td width="37"><font size="2">$BJQ49(B</font></td>
			<td width="61"><font size="2">$B$R$i$,$J(B</font></td>
			<td width="63"><font size="2">RAlt</font></td>
			<td width="78"><font size="2">RWin</font></td>
			<td width="33"><font size="2">Apps</font></td>
			<td width="29"><font size="2">RCtrl</font></td>
			<td width="4">$B!!(B</td>
			<td width="68"><font size="2">Left</font></td>
			<td width="34"><font size="2">Down</font></td>
			<td width="62"><font size="2">Right</font></td>
			<td width="4">$B!!(B</td>
			<td width="55"><font size="2">Num0</font></td>
			<td colspan="2" height="42"><font size="2">NumPeriod</font></td>
		</tr>
	</table>
</div>
<p style="text-align: left">$B!!(B</p></div>
		<ul>
			<li>
			<h3 style="text-align: left"><b><font face="$B#M#S(B $B#P%4%7%C%/(B">
			<a name="$B1Q8lG[Ns(B_104$B%-!<%\!<%I(B"><span style="text-decoration: none">$B1Q8lG[Ns(B 104$B%-!<%\!<%I(B 
	$B!J%7%s%\%k(B USE104 $B$rMQ$$$F!"(B104.nodoka $B$rMQ$$$?>l9g$N%-!<Dj5A!K(B</span></a></font></b></h3>
			</li>
		</ul>
		<div align="left">
<div align="left">
	<table border="1" width="1046" align="left" id="table2" height="231">
		<tr>
			<td class="d2">
			<img border="0" src="104.gif" width="993" height="217"></td>
		</tr>
	</table>
	<p>$B!!(B</p>
	<p>$B!!(B</p>
	<p>$B!!(B</p>
	<p>$B!!(B</p>
	<p>$B!!(B</p>
	<p>$B!!(B</p>
	<blockquote>
		<div align="left">
$B!!(B</div>
	</blockquote>
	</div></div>
		<div align="left">
<div align="left">
	<table border="1" id="table4" width="1120" height="192">
		<tr>
			<td><font size="2">Esc</font></td>
			<td><font size="2">F1</font></td>
			<td><font size="2">F2</font></td>
			<td><font size="2">F3</font></td>
			<td><font size="2">F4</font></td>
			<td>$B!!(B</td>
			<td><font size="2">F5</font></td>
			<td><font size="2">F6</font></td>
			<td><font size="2">F7</font></td>
			<td><font size="2">F8</font></td>
			<td>$B!!(B</td>
			<td><font size="2">F9</font></td>
			<td><font size="2">F10</font></td>
			<td><font size="2">F11</font></td>
			<td><font size="2">F12</font></td>
			<td>$B!!(B</td>
			<td><font size="2">PrintScreen</font></td>
			<td><font size="2">Scroll</font></td>
			<td><font size="2">Pause</font></td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td height="23">$B!!(B</td>
		</tr>
		<tr>
			<td><font size="2">BackQuote</font></td>
			<td><font size="2">_1</font></td>
			<td><font size="2">_2</font></td>
			<td><font size="2">_3</font></td>
			<td><font size="2">_4</font></td>
			<td><font size="2">_5</font></td>
			<td><font size="2">_6</font></td>
			<td><font size="2">_7</font></td>
			<td><font size="2">_8</font></td>
			<td><font size="2">_9</font></td>
			<td><font size="2">_0</font></td>
			<td><font size="2">Minus</font></td>
			<td><font size="2">Equal</font></td>
			<td colspan="2"><font size="2">BS</font></td>
			<td>$B!!(B</td>
			<td><font size="2">Insert</font></td>
			<td><font size="2">Home</font></td>
			<td><font size="2">PageUp</font></td>
			<td>$B!!(B</td>
			<td><font size="2">NumLock</font></td>
			<td><font size="2">NumSlash</font></td>
			<td><font size="2">NumAsterisk</font></td>
			<td height="42"><font size="2">NumMinus</font></td>
		</tr>
		<tr>
			<td><font size="2">Tab</font></td>
			<td><font size="2">Q</font></td>
			<td><font size="2">W</font></td>
			<td><font size="2">E</font></td>
			<td><font size="2">R</font></td>
			<td><font size="2">T</font></td>
			<td><font size="2">Y</font></td>
			<td><font size="2">U</font></td>
			<td><font size="2">I</font></td>
			<td><font size="2">O</font></td>
			<td><font size="2">P</font></td>
			<td><font size="2">OpenBracket</font></td>
			<td><font size="2">CloseBracket</font></td>
			<td colspan="2"><font size="2">BackSlash</font></td>
			<td>$B!!(B</td>
			<td><font size="2">Del</font></td>
			<td><font size="2">End</font></td>
			<td><font size="2">PageDown</font></td>
			<td>$B!!(B</td>
			<td><font size="2">Num7</font></td>
			<td><font size="2">Num8</font></td>
			<td height="23"><font size="2">Num9</font></td>
			<td rowspan="2"><font size="2">NumPlus</font></td>
		</tr>
		<tr>
			<td><font size="2">CapsLock</font></td>
			<td><font size="2">A</font></td>
			<td><font size="2">S</font></td>
			<td><font size="2">D</font></td>
			<td><font size="2">F</font></td>
			<td><font size="2">G</font></td>
			<td><font size="2">H</font></td>
			<td><font size="2">J</font></td>
			<td><font size="2">K</font></td>
			<td><font size="2">L</font></td>
			<td><font size="2">Semicolon</font></td>
			<td><font size="2">Quote</font></td>
			<td colspan="3">
			<p align="center" style="text-align: center"><font size="2">Enter</font></td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td><font size="2">Num4</font></td>
			<td><font size="2">Num5</font></td>
			<td height="23"><font size="2">Num6</font></td>
		</tr>
		<tr>
			<td><font size="2">LShift</font></td>
			<td><font size="2">Z</font></td>
			<td><font size="2">X</font></td>
			<td><font size="2">C</font></td>
			<td><font size="2">V</font></td>
			<td width="14"><font size="2">B</font></td>
			<td width="15"><font size="2">N</font></td>
			<td width="15"><font size="2">M</font></td>
			<td width="45"><font size="2">Comma</font></td>
			<td><font size="2">Period</font></td>
			<td><font size="2">Slash</font></td>
			<td colspan="4">
			<p align="center" style="text-align: center"><font size="2">RShift</font></td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td><font size="2">Up</font></td>
			<td>$B!!(B</td>
			<td>$B!!(B</td>
			<td><font size="2">Num1</font></td>
			<td width="60"><font size="2">Num2</font></td>
			<td height="23" width="75"><font size="2">Num3</font></td>
			<td rowspan="2" width="62"><font size="2">NumEnter</font></td>
		</tr>
		<tr>
			<td><font size="2">LCtrl</font></td>
			<td><font size="2">LWin</font></td>
			<td><font size="2">LAlt</font></td>
			<td colspan="8">
			<p align="center" style="text-align: center"><font size="2">Space</font></td>
			<td width="63"><font size="2">RAlt</font></td>
			<td width="78"><font size="2">RWin</font></td>
			<td width="33"><font size="2">Apps</font></td>
			<td width="29"><font size="2">RCtrl</font></td>
			<td width="4">$B!!(B</td>
			<td width="68"><font size="2">Left</font></td>
			<td width="34"><font size="2">Down</font></td>
			<td width="62"><font size="2">Right</font></td>
			<td width="4">$B!!(B</td>
			<td width="55"><font size="2">Num0</font></td>
			<td colspan="2" height="42"><font size="2">NumPeriod</font></td>
		</tr>
	</table>
	</div>
<blockquote>
	<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
	<a href="../109.nodoka">109.nodoka</a>$B!"(B<a href="../104.nodoka">104.nodoka</a> 
	$BDj5A%U%!%$%k$G$O!"3F%-!<$KJLL>$rJ;5-$9$k$3$H$G!"3d$jEv$F$r<B;\$7$F$$$^$9$,!">e5-$G$O!"0lHVC;$$$b$N(B $B$"$k$$$O(B $B0lHLE*$J$b$N(B 
	$B$+$i!"$R$H$D$rA*$s$GI=5-$7$^$7$?!#(B<br>
	$B?^$N(B <a target="_blank" href="keyboard_vsd.pdf">pdf $B%U%!%$%k$O!"$3$A$i!#(B</a></p>
	<p style="text-align: left">$B$^$?!"(B 
$B$3$3$G!"=P$F$$$J$$%-!<$K$D$$$F$O!"(B<font face="$B#M#S(B $B#P%4%7%C%/(B">$B%?%9%/%H%l%$%a%K%e!<(B</font><font face="$B#M#S(B $B#P%4%7%C%/(B"><a class="menu-item" href="MANUAL-ja.html#menu-i">$BD4::(B(I)...</a>$B$N!V%9%-%c%s%3!<%I$ND4::!W(B</font>$B$r9T$&$+!"D>@\(B 
 
	<a target="MANUAL" href="../109.nodoka">109.nodoka</a>$B!"(B<a target="MANUAL" href="../104.nodoka">104.nodoka</a> $B$r(B $B$4Mw$/$@$5$$!#(B<br>$B$J$*!"(B109.nodoka, 104.nodoka $B$K$O!"2<5-$K<($9$h$&$J(B 
	$B%7%9%F%`7O$N%-!<!"EE8;4X78$N%-!<!"%^%k%A%a%G%#%"%-!<(B $B$,Dj5A$5$l$F$$$^$9!#(B<br>
	$B%N!<%H%Q%=%3%s$d!">J%9%Z!<%9$J%-!<%\!<%I!"$"$k$$$O(BNetBook$B$G!"B8:_$9$k(B <b>Fn $B%-!<(B</b>$B$O!"%9%-%c%s%3!<%I$,<h$l$k$J$i$P!"MxMQ2DG=$G$9$,!"DL>o%O!<%I%&%'%"$G=hM}$5$l$F$*$j!";H$($^$;$s!#(B</p>
	<p style="text-align: left"><font color="#FF0000">&nbsp; $B!&%7%9%F%`78(B</font><b><font color="#FF0000"><br>
	</font>SysRq</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $B%7%9%F%`%j%/%(%9%H(B&nbsp;&nbsp;&nbsp; 
	$BC1FH$GB8:_$9$k$3$H$O$^$l$@$,!"%7%U%H%-!<$d!"(BFn$B%-!<$r2!$7$?>uBV$G!"H/@8$9$k$J$I$N2DG=@-$,$"$k!#(B<b><br>
	Break</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $B%V%l!<%/%-!<(B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	$BF1MM$K!"%7%U%H%-!<$d!"(BFn$B%-!<$r2!$7$?>uBV$G!"H/@8$9$k$J$I$N2DG=@-$,$"$k!#(B&nbsp; $B!!!!!!!!(B</p>
	<p style="text-align: left"><br><font color="#FF0000">&nbsp; $B!&EE8;4X78(B</font><b><font color="#FF0000"> 
	$B!J$3$l$i(BACPI$B%-!<(BWakeUp, Sleep, Power$B%-!<(B $B$O(B Windows $B$N%P!<%8%g%s$K$h$C$F$OG'<1$G$-$^$;$s!#!K(B<br>
	</font>PowerOff</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $BEE8;$rMn$H$9(B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	Power$B%-!<(B<br><b>Sleep</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	$B%9%j!<%W$5$;$k(B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	Sleep$B%-!<(B<br><b>WakeUp</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $B%9%j!<%W$+$i$NI|5"!#(B&nbsp;&nbsp;&nbsp; 
	WakeUp$B%-!<(B</p>
	<p style="text-align: left"><b>$B0J2<$O!"(B109.nodoka$B$N$_!#(B</b>$B1Q8l%-!<%\!<%I$r$*;H$$$G!"%7%s%\%k(B USE104 
	$B$N>l9g$K$O!"(B109.nodoka $B$+$i(B $B3:Ev$9$k5-=R$r!"<+J,$N@_Dj%U%!%$%k$K%3%T!<$7$F$4MxMQ$/$@$5$$!#(B<br>$B!JNr;KE*$J$b$N$G!"(B104.nodoka $B$K5-:\$7$F$bNI$$$N$G$9$,!"!VAk;H$$$NM+]5!W$N(B 104.mayu 
	$B$K5-=R$5$l$F$$$J$+$C$?$?$a!"$=$N$^$^$H$J$C$F$$$^$9!#!K(B</p>
	<p style="text-align: left"><font color="#FF0000">$B!&(BWindows Media Player$B$NA`:n4X78(B<br>
	</font><b>PreviousTrack</b>&nbsp;&nbsp;&nbsp; $BA0$N6J(B<br><b>NextTrack</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	$B<!$N6J(B<br><b>Play/Pause</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	$B%W%l%$(B/$B%]!<%:(B<br><b>Stop </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	$B%9%H%C%W(B<br><b>Mute </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	$B%_%e!<%H(B<br><b>VolumeDown</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $B2;NL%@%&%s(B<br>
	<b>VolumeUp</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	$B2;NL%"%C%W(B<br>$B!!(B</p>
	<p style="text-align: left"><font color="#FF0000">$B!&$=$NB>!"%"%W%j5/F0%-!<(B<br></font><b>MM/Calculator</b>&nbsp;&nbsp;&nbsp; $BEEBn$r5/F0$9$k!#(B<br>
	<b>Email </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	$B%a!<%k%=%U%H$r5/F0$9$k!#(B</p>
	<p style="text-align: left"><br><br><br><br>$B!!(B</p>
</blockquote>
<p style="text-align: left">$B!!(B</p>
<p style="text-align: left">$B!!(B</p>

</body>
</html>
